<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>
    
    <ion-title>to-read</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">to-read</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="fiction">
      <ion-icon name="text" aria-hidden="true"></ion-icon>
      <ion-label>fiction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="non-fiction">
      <ion-icon name="text" aria-hidden="true"></ion-icon>
      <ion-label>non-fiction</ion-label>
    </ion-tab-button>


    
  </ion-tab-bar>
</ion-tabs>
