<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>
    
    <ion-title>non-fiction to read</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let book of books">
      <app-book-element *ngIf="book.genre === 'non-fiction' && !book.review && !book.stars"
                    [author]="book.author"
                    [text]="book.text"
                    [description]="book.description"
                    [genre]="book.genre"
                    [review]="book.review"
                    [stars]="book.stars">
  </app-book-element>
  
    </ng-container>
  
  </ion-list>
</ion-content>
 -->