<nav class="navbar is-link">
    <div class="navbar-start">
        <div class="navbar-brand">
        <a class="navbar-item title" routerLink="/">
            {{title}}
        </a>
    </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/book-nook">home</a>
          <a class="navbar-item" routerLink="/to_read">to read</a>
          <a class="navbar-item" routerLink="/my_books">my books</a>
        </div>
      </div>
</nav> 