<!-- <ion-card>
  <img [src]="imageUrl"/>
  <ion-card-header>
    <ion-card-title>{{ author }} - {{ text }}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <p>{{ description }}</p>
  </ion-card-content>

  <ion-row class="ion-align-items-center genre-container">
    <ion-col size="9">
      Genre: {{ genre }}
    </ion-col>
    <ion-col size="3" class="ion-text-end">
      <ion-button fill="clear" class="log-button">Log</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
 -->
 <ion-item>
  <ion-avatar slot="start">
    <ion-img [src]="imageUrl"></ion-img>
  </ion-avatar>
  <ion-label>{{author}} - {{text}}</ion-label>
 </ion-item>